# Binaries and build artifacts
bin/
tmp/
main
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.html
*.log
build-errors.log
coverage.out
coverage.html

# Database files
database/data/*.db
*.sqlite
*.db

# Dependencies
vendor/

# Environment and Configs
.env
.env.local
.env.*.local

# IDE and Editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Go test cache
.cache/
